.git/
.github/
.vscode/
.gitignore
package-lock.json

build/
dist/
node_modules/

configs/*
!configs/config.common.json
!configs/config.js
!configs/default.env

public/*
!public/astria_assets

docker/*
!docker/nginx.astria.conf.template
