/* 
  Design Reference: M20 GDS Figma
  Design System / UI Components
  https://www.figma.com/file/zkXv6FZeHRzwFQJ2cNvNR1/UI-Components?node-id=1%3A4439
*/

@value color: "./color.module.css";
@value gray10, gray20, gray50, gray90 from color;

/* define variables */
@value fontFamilyStack: Inter, sans-serif;

/* fallback solution for instance where we can't use css modules (e.g. when we have to work wih
  3rd party libraries that we can't pass classes to)  */
:root {
  --fontFamily: fontFamilyStack;
}

/* Font stack */
.fontFamily {
  font-family: fontFamilyStack;
}

/* M20 GDS Font Definitions */
.brand {
  text-transform: uppercase;
  composes: fontFamily;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 3.21429px;
  color: #ffffff;
  /* -webkit-font-smoothing: antialiased; */
}

.header {
  composes: fontFamily;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: gray10;
}

.label {
  composes: fontFamily;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: gray10;
  opacity: 0.65;
}

.body {
  composes: fontFamily;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: gray10;
  opacity: 0.9;
}

.medium {
  composes: fontFamily;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: gray10;
}

.hint {
  composes: fontFamily;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: gray50;
  font-style: italic;
}

.bold {
  composes: fontFamily;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: gray10;
}

.smallCaps {
  composes: fontFamily;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: gray10;
  opacity: 0.65;
}

/* M20 GDS Display Font Definitions */
.displayH1 {
  composes: fontFamily;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.01em;
  color: gray10;
}

.displayH2 {
  composes: fontFamily;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.005em;
  color: gray10;
}

.displayH3 {
  composes: fontFamily;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: gray10;
}

.displayBody {
  composes: fontFamily;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: gray20;
  letter-spacing: 0.01em;
}

/* Utility Classes */
.noSelect {
  user-select: none;
}

.badge {
  composes: bold;
  color: gray50;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.45px;
  opacity: 0.9;
}

.learnMore {
  composes: body;
  opacity: 0.65;
  background: none;
  border: none;
  outline: none;
  color: inherit;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.learnMore:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.learnMoreNoMargin {
  composes: learnMore;
  margin-top: 0px;
}
